{% extends 'base.html' %}
{% load static %}

{% block title %} Student List {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Profile</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Active</th>
                        <th>Created at</th>
                        <th>Name of trainer</th>
                        <th>Course</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for course in all_courses %}
                        <tr>
                            <td> {{ forloop.counter0 }} </td>


                            <td> {{ course.title }} </td>
                            <td> {{ course.start_date|date:"d-m-Y" }} </td>
                            <td> {{ course.end_date|date:"d-m-Y" }} </td>
                            <td>
                                {% if course.active %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>

                            <td>
                                {{ course.created_at|date:"d-m-Y:i:s" }}
                            </td>
                            <td>
                                {% if course.instructor %}
                                    {{ course.instructor }}
                                {% else %}
                                    No trainer
                                {% endif %}
                            </td>
                            <td>
                                {% if course.instructor.course %}
                                    {{ course.instructor.course }}
                                {% else %}
                                    No course
                                {% endif %}
                            </td>

                            <td>
{#                                {% if perms.student.delete_student or perms.student.change_student or perms.student.view_student %}#}
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More Actions
                                        </button>
                                        <ul class="dropdown-menu">
                                                <li><a class="dropdown-item"
                                                       href="{% url 'course-update' course.id %}">Update</a></li>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'course-delete' course.id %}">Delete</a></li>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'course-detail' course.id %}">View Details</a>

                                                </li><li><a class="dropdown-item"
                                                       href="{% url 'course-create' %}">Create Course</a>
                                                </li>
{#                                            {% endif %}#}
                                        </ul>
                                    </div>
{#                                {% else %}#}
{#                                    <p>No Actions</p>#}
{#                                {% endif %}#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
