{% extends 'base.html' %}
{% load static %}

{% block title %} List of Students {% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h2>Students</h2>
            <p>Meet our dedicated team of students who are passionate about learning and achieving their goals.</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <div class="container-fluid col-md-12">
        <div class="row">
            {% for student in all_students %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% if student.profile %}
                                <img src="{{ student.profile.url }}" class="card-img-top" alt="Profile Picture">
                            {% else %}
                                <img src="{% static '/profile/student.png' %}" class="card-img-top"
                                     alt="Default Profile Picture">
                            {% endif %}
                            <h5 class="card-title">
                                {{ student.first_name }} {{ student.last_name }}
                            </h5>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    More actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'update-student' student.id %}">Update</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'delete-student' student.id %}">Delete</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'detail-student' student.id %}">Detail</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'create-student' %}">Create a new student</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- HistoryStudents -->
    <div class="container-fluid col-md-12">
        <div class="row">
            {% for history_student in all_history_students %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                History Student: {{ history_student.user.username }}
                            </h5>
                            <p class="card-text">
                                Created at: {{ history_student.created_at }} <br>
                                Message: {{ history_student.message }} <br>
                                Active: {{ history_student.active }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
