{% extends 'base.html' %}
{% load static %}
{% block title %} List of trainers {% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h2>Trainers</h2>
            <p>Meet our dedicated team of expert trainers who are passionate about sharing their knowledge and helping
                you
                achieve your learning goals. Our trainers bring a wealth of experience to the table, ensuring you get
                the
                best learning experience possible.</p>
        </div>

    </div><!-- End Breadcrumbs -->
    <div class="container-fluid col-md-12">
        <div class="row">
            {% for trainer in all_trainers %}
                <div class="col-md-4">
                    <div class="card">
                        {% if trainer.profile %}
                            <img src="{{ trainer.profile.url }}" class="card-img-top" alt="Poza nu exista!">
                        {% else %}
                            <img src="{% static '/profile/00007-3647593057.png' %}" class="card-img-top"
                                 alt="Poza nu exista">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ trainer.first_name }}
                                {{ trainer.last_name }}</h5>
                            <p class="card-text">
                                {{ trainer.course|upper }} <br>

                            </p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    More actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'update-trainer' trainer.id %}">Update</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'delete-trainer' trainer.id %}">Delete</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'detail-trainer' trainer.id %}">Detail</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'create-trainer' %}">Create a new
                                        trainer</a></li>
                                </ul>
                                <ul class="dropdown-menu">


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}