<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Add your CSS links here -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    {% block additional_css %}{% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href={% static 'assets/css/style.css' %}"" rel="stylesheet">

</head>
<body>
<!-- Header section -->

<!-- Content section -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Footer section -->
<footer>
    <!-- Your footer content goes here -->
</footer>


<!-- Include Bootstrap JavaScript from the vendor directory -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Include your custom JavaScript files from the static directory -->
<script src="{% static 'assets/js/main.js' %}"></script>

{% block additional_js %}{% endblock %}

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
